
body{
    background-image: url(../images/thanosBackground.jpg);
}

#myContainer {
color: white;
}

h1{
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
}

#row2 {
    font-family: 'Press Start 2P', cursive;
}

