body{
    background-image: url(../images/thanosBackground.jpg);
}
.container {
color: white;
/* border:1px solid red; */
/* background-color: black; */
font-family: 'Press Start 2P', cursive;
}

#theRules{
    font-size: 25px;
    padding-bottom: 25px;
}

#row1{
    justify-content: center;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 10px;
}
#goalsNumber{
    justify-content: center;
    font-size: 30px;
    padding-top: 10px;
}
#row6{
    padding-bottom: 25px;
}

#row7{
    margin-bottom: 50px;
}

#pixelThanos{
    justify-content: center;
}
#totalScore{
   margin-bottom: 20px;
   font-size: 25px;
   
}

.infinityStones{
    border: 10px pink;
    
}